[submodule "shells/zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = shells/zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shells/zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = shells/zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
